@import 'tailwindcss';

@source '../components';
@source '../layouts';
@source '../pages';

@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto-VariableFont_wdth\,wght.ttf')
		format('truetype');
	font-style: normal;
	font-weight: 300 800;
	font-stretch: 75% 100%;
	font-display: swap;
}

@font-face {
	font-family: 'Source Serif';
	src: url('../assets/fonts/SourceSerif4-VariableFont_opsz\,wght.ttf')
		format('truetype');
	font-style: normal;
	font-weight: 300 800;
	font-stretch: 75% 100%;
	font-display: swap;
}

@theme {
	--font-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif;
	--font-serif: 'Source Serif';
	--color-white: #f7f7f7;
	--color-black: #080808;
 --breakpoint-xs: 340px;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--breakpoint-2xl: 1400px;
	--container-xs: 324px;
	--container-sm: 517px;
	--container-md: 668px;
	--container-lg: 892px;
	--container-xl: 1100px;
	--text-base: 15px;
	--text-2xl: 20px;
	--spacing-gap-xs: 12px;
	--spacing-gap-sm: 25px;
	--spacing-gap-md: 19px;
	--spacing-gap-lg: 23px;
	--spacing-gap-xl: 28px;
}

body {
	@apply font-serif text-black bg-white;
}

.nav-element {
	@apply font-sans font-light;
}

.site-container {
	@apply w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl mx-auto;
}

.active {
	@apply font-semibold;
}
